<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= presentationName %></title>
  <!-- build:css(bower_components/) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <link rel="stylesheet" href="styles/main.css"/><!-- don't delete this, it should be served from ./.tmp/ or ./dist/ -->
</head>
<body ng-app="<%= moduleName %>" class="<%= readableName %>">

<!-- YOUR CODE STARTS HERE -->
<!-- *************************************************************************************************************** -->

<!-- *************************************************************************************************************** -->
<!-- YOUR CODE STOPS HERE -->

<!-- build:js(bower_components/) scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/scripts.js -->
<!-- findng -->
<!-- endfindng -->
<!-- endbuild -->

<!-- build:js scripts/demo.js -->
<!-- finddemo -->
<!-- endfinddemo -->
<!-- endbuild -->

</body>
</html>
